body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95vw;
  height: 95vh;
}

hr {
  width: 106%;
  margin: inherit;
  margin-inline: -0.3em;
  margin-block: 0.2em;
  border: inherit;
  border-color: #e8e8e8d1;
  opacity: 1;
}

#main {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.context-menu {
  border: 1px solid #8080804f;
  border-radius: 8px;
  box-shadow: 1px 1px 7px -3px #808080ba;

  padding: 0.3em;
  display: inline-block;
  user-select: none;
  position: relative;
}

.element {  
  padding-left: 2.3em;
  padding-block: 0.3em;
  padding-right: 2em;

  border-radius: 6px;
}

.element:hover {
  background-color: #f0f0f0;
}

.menu::after {
  position: absolute;
  float: right;
  right: 0.7em;
  
  content: ">";
  line-height: 1.3em;
  transform: scaleX(0.8) scaleY(1.4);
}

.hover-div {
  height: 2px;
  background-color: lime;
  position: relative;
}
.hover-div::after{
  content: "+";
  position: absolute;
  left: 50%;
  top: -50%;
  height: 1.3em;
  width: 2.1em;
  text-align: center;
  line-height: 1em;
  transform: translate(-50%, -40%);
  background-color: lime;
  box-shadow: 1px 1px 7px -1px #808080;
  border-radius: 5px;
  will-change: box-shadow;
}
.hover-div:hover::after {
  cursor: pointer;
  background-color: rgb(126, 255, 126);
  box-shadow: 0px 0px 7px 1px #00a30b;
}
.hover-div:hover {
  cursor: pointer;
}