body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95vw;
  height: 95vh;
}

hr {
  width: 103.2%;
  margin-inline: -0.3em;
  margin-block: 0.2em;
  border-color: #e8e8e870;
}

#main {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.context-menu {
  border: 1px solid #8080804f;
  border-radius: 8px;
  box-shadow: 1px 1px 7px -3px #808080ba;

  padding: 0.3em;
  display: inline-block;
  user-select: none;
  position: relative;
}

.element {  
  padding-left: 2.3em;
  padding-block: 0.3em;
  padding-right: 2em;

  border-radius: 6px;
}

.element:hover {
  background-color: #f0f0f0;
}

.menu::after {
  position: absolute;
  float: right;
  right: 0.7em;
  
  content: ">";
  line-height: 1.3em;
  transform: scaleX(0.8) scaleY(1.4);
}